/*** Modificado por: Ismael Guevara Montebello ***/

body{
    font-family:'Oswald', sans-serif; 
   
}

/*Globales*/
img{
    max-width: 100%;
}
.contenedor{
    max-width:95%; /*El tamaño que ocupará el contenido en pantalla sin pasarse del rango*/
    margin:0 auto; /* El margen que tendra superio e inferior = 0 y el izq y Derecho = automatico*/
}
    
h1{
    font-size:5rem;
}

h2{
    font-size:4.6rem;
}

h3{
    font-size:4.2rem;
}

h4{
    font-size:3.8rem;
}

/*Utilidades*/
.seccion{
    /*Agrega un margen superior e inferior al contenido seleccionado*/
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*HEADER*/

.site-header.inicio{
    background-image: url(../Img/logo3.png);
    background-position: center center;
    height: 100vh; /*Tamaño de vista que ocupará la imagen*/
    min-height: 60rem;/*El tamaño minimo que siempre mostrará la imagen*/
}
.contenido-header{
    height: 99%; /*Marcamos una distacia entre el primer(barra) y segundo(h1) elemento*/
    display: flex;
    /*Hacemos que el contenido se divida verticalmente*/
    flex-direction: column;
    /*Separa a los hijos en este caso a la barra y a h1 en una distancia deteminada*/
    justify-content:space-between; 
}

/*Modifica solo al elemento señalado siendo h1*/
.contenido-header h1{
    padding-left:3%; /*Espacio del elemento */ 
    margin-right: 30%;/*Margen derecho del fondo*/
    margin-left: 30%;/*Margen izq del fondo*/
    
}

.barra{
    display:flex; /*Hace que los elementos de barra se vuelvan flexibles*/
    justify-content:flex-end; /*Esta funcion permite junto display poner los elementos al final de
    de la pantalla (Lado derecho)*/
    padding-top: 1.5rem; /* Margen superior que se dejara sin mover todo el contenido*/ /*15px*/
}

/*NAVEGACION*/
.navegacion a{
    color:white;
    font-style: bold;
    font-size: 1.25rem;
    text-decoration: none; /*Quita el subrayado de los elemntos*/
    margin-right: 2rem; /* Agrega un margen a la derecha de cada elemento de la barra*/
}

/*Permite que al pasar el raton sobre los elementos cambie de color*/ 
.navegacion a:hover{
    color: #71B100;
}

/*Seudoselector (Quita el margen del ultimo elemento de la barra)*/
.navegacion a:last-of-type{ 
    margin: 0;
}
/*NAVEGACION*/

/*NOSOTROS*/
.nosotros{
    display: flex;
    justify-content: space-between;
    
}

.icono{
    flex-basis: calc(48% - 1rem); /*Dividir proporcionalmente el contenido*/
    text-align:center center;
}
.contenido-nosotros.icono p{
    text-transform: uppercase; /*Deja que la fuente siempre este en mayusculas*/
    font-size: 3.5rem;
    font-weight:300;
    text-align: justify;
    margin-top: 7.5rem; /*Margen superior del primer elemento siendo el texto*/
    /*margin-bottom: 5rem*/;/*Margen inferior*/
}
.imagen-nosotros{
    margin-top: 2rem ;/*margen de espacio de la imagen con el contenido anterior*/
}
