html{
    font-size: 62.5%; /*Reset para REMS 62.5% es igual a 10px de 16px */
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
.contenedor{
    max-width: 120rem; /*1200px*/
    margin: 0 auto;
    
}

/*Header*/

.site-header.inicio{
    margin: 0;
    background-image: url(../Img/logosvg.svg);
    background-position: center center;
    background-size: cover;
    height: 85vh;
    min-height: 1rem;
    
}

.contenido-header {
    color: rgb(207, 241, 56);
    padding-top: 20rem;
    max-width: 60rem;
    line-height: 2;
    
}


.barra{
    display: block;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    float:right;
}
/* navegacion**/
.navegacion a {
    color: rgb(240, 236, 236);
    text-decoration:none ;
    font-size: 1.8rem;  /* es igual a 18px*/
    margin-right: 1rem;
}
.navegacion a:hover{
    color: #71B100;
}
.navegacion a:last-of-type{
    margin:0;
}
