html {
    font-size: 62.5%; /** Reset para rems 62.5% son 10 px de 16 px**/
}
body {
    font-family: 'Indie Flower', cursive;
    font-size:1.6rem;
    line-height:3;
    background-color: rgb(54, 56, 56);
    color: white;
}

/** globales**/
.contenedor{
    max-width: 120rem; /*1200px*/
    margin: 0 auto;
    
}
h1 {
    font-size: 3.8rem;
    font-family: 'Indie Flower', cursive;
}
h2{
    font-size: 3.4rem;
}
h4{
    font-size: 1.6rem;
}

/** utilidades**/
.seccion {
    margin-top: 10rem;
    margin-bottom: 10rem;
}



/*Header*/

.site-header.inicio{
    background-image: url(../Img/logosvg.svg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
    
}
.contenido-header {
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.contenido-header h1 {
    color: white;
    padding-bottom: 5rem;
    padding-left: 40%;
}
.barra{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding-top: 3rem;
 
}
/* navegacion**/
.navegacion a {
    color:rgba(255,255,255, .4);
    text-decoration:none;
    font-size: 2rem;
    margin-right:1.5rem ;
}
.navegacion a:hover {
    color:#71B100;
}
.navegacion a:last-of-type{
    margin: 0;
}
/**primera division**/
.divicion-pri {
    /*background-color: rgba(250, 252, 247, 0.6);*/
    display:flex;
    justify-content:space-between;
}
.icono {
    flex-basis: calc(49% - 1rem);
    text-align: center;
}
.icono p {
    font-weight: 400;
    font-size: 2rem;
    text-transform:capitalize;
    font-family: 'Redressed', cursive;
    /*text-decoration:underline;*/

}
.icono a {
    font-size: 1.5rem;
    color: rgb(236, 230, 230);
}
.hori a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hori p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 7rem;
}
.img-cero img {
    height: 50vh;
    min-height: 20rem;
}

/* segunda division*/

.titulo h2 {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    color: #71B100;
    height:auto;
}

.texto-uno {
    flex-basis: calc(50.4% - 1rem);
    text-align: center;
}
.texto-uno p {
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: initial;
    line-height:2;
    padding-top: 4rem;
    font-family: 'Indie Flower', cursive;

}
.img-uno img {
    height: 50vh;
    min-height: 20rem;
}
/*division 3*/
.division-dos {
    display:flex;
    justify-content:space-between;
}

.texto-dos {
    flex-basis: calc(45% - 1rem);
    text-align:left;
    text-transform:capitalize;
    margin-left: 2.5rem;
}
.texto-dos h2 {
    color: #71B100;
}
/*division 4*/

.texto-tres {
    flex-basis: calc(50% - 1rem);
    text-align:left;
    text-transform:capitalize;
    margin-left: 3rem;
}
.texto-tres h4 {
    padding-top: 2.5rem;
}
.img-tres img {
    height: 78vh;
    min-height: 20rem;
}
/*fin*/
.division-tres {
    display:flex;
    justify-content:space-between;
}
.texto-fn {
    flex-basis: calc(50% - 1rem);
    text-align:left;
}